/* styles.css or any global stylesheet */
.leaflet-container {
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
  margin: 0; /* Remove margin if any */
  padding: 0; /* Remove padding if any */
}
